*.idea
/.idea/*
*.log
*.log.*
.env
.venv
env/
venv/
ENV/
*.spec
*.iml
vcs.xml
__pycache__
/__pycache__/*

.vscode/
.ruff_cache/

# pyenv/ 
# python==3.10.13 in my local
.python-version
# disable output folder
output/ 
