beautifulsoup4
colorlog
fake-useragent
mypy
requests
ruff
pre-commit
selenium
webdriver-manager
playwright

# for analysis
polars
ipython 
ipykernel
pandas
xlsxwriter
pyecharts
snapshot-selenium
mlxtend
xlsx2csv
wordcloud
networkx